@keyframes hop {
    0% {opacity: 0.0;
      transform:translateY(-30PX);}
      100% {opacity:1.0;
        transition-timing-function: ease-in;
        transform:translateY(0PX);}
      }

@keyframes run {
  0% {
    transform:translateX(850PX);}
    100% {
      transition-timing-function: step-start;
      transform:translateX(-850PX);}
    }

.main-box{
    animation-name: hop;
    animation-duration: 1.2s;
    text-align: center;
    padding-top: 80px;
    padding: 110px;
}

.main-box-content{
    padding: 30px;
}

.main-title{
  font-size: 70px;
}

.running-tiger{
    animation: run;
    animation-iteration-count: infinite;
    animation-duration: 9s;
}