.sign-in-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 300px;
    height: auto;
    grid-gap: 30px;
    border: solid 5px #efefef;
    padding: 20px;

}

.input-box{
    min-width: 250px;
    padding: 10px;
}

